[2022-01-29 14:31] jwoehr opened #1 "Transpiler Hackathon"
### Description

- As of this writing 2022-01-29 there are 127 open Transpiler issues in the Qiskit Terra repository.
- As many participants who have the skills and the will can participate in closing Transpiler issues for the duration of the QAMP Spring 2022 event.
- If there is time and energy left over, we will look at future directions for the Transpiler.
- My intent long-term is to identify a

[2022-02-02 12:56] Cryoris opened #2 "VQE optimization with dynamic shot scheduling"
### Description

The variational quantum eigensolver (VQE) is a near-term suitable algorithm to minimize the expectation value of a quantum mechanical system -- and it has a huge range of applications! In a VQE we select an ansatz circuit, which we can execute well on today's devices, and then tune it's parameters so that the ansatz approaches the ground state of the system as good as possible. Th

[2022-02-04 11:44] mrossinek opened #3 "Migrate `AdaptVQE` from Qiskit Nature to Terra"
### Description

The `AdaptVQE` algorithm, originally implemented in Qiskit Aqua as the outcome of the Qiskit Hackathon Europe 2019, [link](https://github.com/Qiskit/qiskit-aqua/pull/685). Since then, it has been refactored multiple times, most recently during the QAMP Fall 2021 to leverage Qiskit Terra's `gradient` framework [link](https://github.com/qiskit-advocate/qamp-fall-21/issues/5).

This

[2022-02-07 11:09] adekusar-drl opened #4 "Add performance benchmarks for Qiskit Machine Learning"
### Description

Qiskit Applications (Optimization, Finance, Nature, ML) have some performance benchmarks implemented. By performance we understand various metrics like executing time, required memory and other specific metrics, e.g. score, that may arise in the benchmarks. Currently a few on them were added Qiskit Machine Learning, benchmarks for quantum neural networks. This project aims at buil

[2022-02-07 11:17] adekusar-drl opened #5 ""From zero to hero" Qiskit Machine Learning tutorial on a real dataset"
### Description

Quantum machine learning is gaining momentum and becoming more and more popular across machine learning researchers. This project aims facilitating smooth transition from classical to quantum machine learning algorithms for those who are already proficient in classical ML. The goal of this project is to pick up a small classical machine learning dataset and an ML problem, e.g. cla

[2022-02-07 15:17] IceKhan13 opened #6 "Qiskit-Braket plugin"
### Description

The [Amazon Braket Python SDK](https://github.com/aws/amazon-braket-sdk-python) is an open source library that provides a framework that you can use to interact with quantum computing hardware devices through Amazon Braket.

This project is aimed to create Qiskit-Braket plugin to execute Qiskit programs against AWS Braket devices.

### Deliverables

- Create a predictable and main

[2022-02-07 17:29] Travis-S-IBM opened #7 "Architecting and Operationalizing Quantum Kernels for Machine Learning Workflows"
### Description

A recent paper  on near-term, quantum-enhanced machine learning (of which I am an author) studied a theoretical bottleneck to using quantum kernels (similarity measures) in practice for ML applications involving the generation of data points. Because new data is being created in the application, there is a need to send not only that new data, but also all of the old data, to a qua

[2022-02-08 02:31] dsierrasosa opened #8 "Quantum Computing in Regional Sciences: An Optimization Problem"
### Description

There are several proposals to solve optimization problems using Quantum Algorithms, some examples can be found in the Qiskit textbook, were an application of the Quantum Approximate Optimization Algorithm (QAOA) is presented and described. When we need to take into account the spatial dimension in an optimization problem, we are in the realm of Regional Sciences. In these problem

[2022-02-08 11:49] HuangJunye commented on #3
It's great to the continuation of mentorship project. @fs1132429 @dlasecki can you please comment here so that I can assign you to the issue? Thank you.

[2022-02-08 11:49] dlasecki commented on #3
Sure.

[2022-02-08 12:23] mtreinish opened #9 "Good first issues in retworkx"
### Description

[retworkx](https://github.com/Qiskit/retworkx) is a high performance general purpose graph library for python3 written in Rust to take advantage of the performance and safety that Rust provides. It was built as a replacement for Qiskit's previous networkx usage (hence the name) but is designed to provide a high performance general purpose graph library for any python application.

[2022-02-08 13:28] mtreinish opened #10 "Expand qiskit-neko testing"
### Description

The qiskit-neko project: https://github.com/mtreinish/qiskit-neko is a new effort to add a proper integration test suite to the overall qiskit project. It's designed to be run in CI to ensure that a proposed change to any qiskit project doesn't break backwards compatibility or break an interface that another qiskit project is currently using. The idea behind the project is to prov

[2022-02-08 15:26] adekusar-drl opened #11 "A Qiskit tutorial that covers `UnitarySyntheisPlugin` and Approximate Quantum Compiler as an implementation"
### Description

Recently a new extension was introduced in Qiskit's transpiler - a unitary synthesis plugin API (https://qiskit.org/documentation/apidoc/transpiler_plugins.html). This API provides a hook point for external python packages to implement their own synthesis techniques and have them seamlessly exposed as opt-in options to users when they run. The aim of this project is to write a new

[2022-02-08 16:41] kevinsung opened #12 "Support alternative tensor product ordering"
### Description

Implement the feature requested at https://github.com/Qiskit/qiskit-terra/issues/7628. Description copied below:

Qiskit uses the little endian convention for ordering the factors in a tensor product. For example, the statevector for a 3-qubit state would use the ordering `Q2 ⊗ Q1 ⊗ Q0`. It would be useful to add support for specifying the tensor product order. This could be used,

[2022-02-09 07:04] fs1132429 commented on #3
yes!

[2022-02-09 12:59] Cryoris opened #13 "How to: Qiskit's circuit library"
### Description

Qiskit's circuit library is a collection of important quantum circuits we can use to build algorithms, applications and investigate quantum advantages. By using it we can quickly set up more complicated workflows and we can use circuits in our algorithms that have proven to be efficient in practice.

However, it's not clear to everyone what is available in the circuit library and

[2022-02-09 13:15] 1ucian0 commented on #13
Consider the following reference on how a how-to guide should look like https://documentation.divio.com/how-to-guides/

[2022-02-09 14:22] quantumjim opened #14 "QEC fidelity for cx gates"
### Description

The `cx` gate is crucial for quantum computing. However, any physical implementation will be imperfect in some way. Some measure of fidelity for any proposed or implemented `cx` is therefore an important benchmark.

In the era of fault-tolerant quantum computation, most `cx` gates applied on physical qubits will be dedicated to implementing quantum error correction (QEC). This the

[2022-02-09 15:50] HwajungKang opened #15 "Optimizing VQE workflow for a IBM quantum system"
### Description

The goal of this project is for you to gain the knowledge of the full workflow of running VQE on a IBM Quantum system.

You will learn the VQE basics and several techniques that can be implemented to improve the fidelity of the outcomes when running the circuits on a near-term quantum computer by building your own VQE example to execute on an IBM Quantum system.

You will understa

[2022-02-09 22:18] jlapeyre opened #16 "Issues in qiskit-alt a Julia backend for Qiskit."
### Description

[qiskit-alt](https://github.com/Qiskit-Extensions/qiskit-alt) is a high-performance Julia backend for Qiskit with a Python frontend. It is quite new and experimental. It is not distributed as part of Qiskit. The main application is computing a qubit Hamiltonian from the specification of an electronic structure problem.

There are a number of projects available, small and large. Th

[2022-02-10 07:08] itoko opened #17 "Interleaved Randomized Benchmarking of gates with delays"
### Description

This project aims to investigate what happens in idling of qubits by conducting Interleaved Randomized Benchmarking (InterleavedRB) of gates with delay instructions using qiskit-experiment (c.f. [qiskit-experiments/tutorials](https://qiskit.org/documentation/experiments/tutorials/randomized_benchmarking.html)).

For example, we may examine how much the spectator qubit (q2) affects

[2022-02-10 08:18] ManjulaGandhi opened #18 "Real world data analysis using Quantum Machine Learning algorithms"
### Description

Aim of our project is to build hands-on tutorials for implementing quantum machine learning algorithms with real world data sets using Qiskit. This tutorial should give learners a taste of what QML is really about. We are planning to work with various QML techniques such as Quantum Naive Bayes, Quantum k-nearest neighbor methods, Quantum Support Vector Machine and  Quantum Bayesia

[2022-02-10 08:24] bala-ceg commented on #18
I am excited and looking forward to collaborating with Professor @ManjulaGandhi for this Project

[2022-02-10 10:21] 1ucian0 opened #19 "quirk - qiskit integration"
### Description

[Quirk](https://algassert.com/quirk) is a famous circuit composer and simulator, written by [Craig Gidney](https://github.com/Strilanc). It is super flexible and it wold be great to have some sort of integration with Qiskit. Here are some ideas:
 * Export a Qiskit QuantumCircuit as a [Quirk url](https://github.com/Strilanc/Quirk/wiki/How-to-use-Quirk#url-circuit-editing)
 * Import

[2022-02-10 10:53] a-matsuo commented on #4
Hi @HuangJunye, I talked with @adekusar-drl and I'd like to take over this project.

[2022-02-10 11:00] ikkoham opened #20 "Implement new features and improve documentation in Operators"
### Description

The aim of this project is to make code contributions to Qiskit.
We will solve the issues around operators. For example,
- Overloading @ for Operator class [#7502](https://github.com/Qiskit/qiskit-terra/issues/7502)
- New grouping (general commuting grouping)
- Type Hint for quantum_info.
- Inplace methods for operators.
and...

As above, there are easy to hard issues.

### Delive

[2022-02-10 12:22] ElePT opened #21 "`TorchRuntime` tutorial 2.0 (QML)"
### Description

Qiskit Runtime is a new architecture offered by IBM Quantum that streamlines computations requiring many iterations of circuit executions and classical processing. In simple terms, this means that for iterative (repetitive) computations, the time spent queuing processes is reduced, so the overall execution time becomes significantly faster. For example, IBM researchers achieved a

[2022-02-10 13:01] eddybrando opened #22 "Improve testing coverage of qiskit.org website codebase"
### Description

[Qiskit.org](https://github.com/qiskit/qiskit.org) is the main landing page for Qiskit, build in [Nuxt](https://nuxtjs.org/) using [Vue.js](https://vuejs.org/) and [TypeScript](https://www.typescriptlang.org/).

The goal is to increase the testing coverage this web project.

### Deliverables

- Creation of a list of meaningful tests (partially based on reported past issues)
- Prio

[2022-02-10 13:11] eddybrando opened #23 "Coding of web components for Qiskit web projects"
### Description

We want to continue creating reusable [web components](https://developer.mozilla.org/en-US/docs/Web/Web_Components) for our Qiskit web projects, like [Qiskti.org](https://github.com/qiskit/qiskit.org) and the [New Textbook](https://github.com/Qiskit/platypus).

We already starting developing some and want to continue creating them in https://github.com/qiskit/web-components/.

The

[2022-02-10 15:12] dlasecki opened #24 "Create tools for the protein folding problem in Qiskit Nature"
### Description

Protein folding is the newest sampling problem released in Qiskit nature 0.2.0 (https://github.com/Qiskit/qiskit-nature/tree/main/qiskit_nature/problems/sampling/protein_folding). We would like to implement some convenience tools and extend the implementation to allow for better result interpretation and visualization of the final output.

Related issues from qiskit-nature:
https:

[2022-02-10 19:34] mtreinish commented on #6
FWIW, someone started an aws braket provider for qiskit a while ago here: https://github.com/carstenblank/qiskit-aws-braket-provider I'm not sure what the current status on it is, it looks like the repo hasn't had any activity in a while.

[2022-02-10 19:40] IceKhan13 commented on #6
Thanks @mtreinish ! We have an entire list of attempts to bring Qiskit to AWS compiled by us and Braket team. Some of them are pretty decent but still require some work. We will review them as a first thing during QAMP.

[2022-02-14 19:53] amy-el commented on #6
Interested in pursuing this project as a mentee!

[2022-02-15 08:47] HuangJunye commented on #6
@amyels Thanks for your interest. The mentorship program is only open to Qiskit advocates at the moment.

[2022-02-15 17:06] miamico opened #25 "Add matrix exponentiation via diagonalization to Qiskit Dynamics"
### Description

When taking the matrix exponential of an Hermitean matrix `M` (for example to compute the time evolution operator from the Hamiltonian of a closed system) it is sometimes faster to first diagonalize the matrix `M = V D V^{dagger}` and then exponentiate the diagonal matrix `D` (which is given by exponentiating the diagonal elements) instead of using the built-in method in scipy `ex

[2022-02-15 19:39] IvanIsCoding opened #26 "Add implementation of PatternMatch to retworkx"
### Description

[retworkx](https://github.com/Qiskit/retworkx) is a high-performance graph library used internally by Qiskit, PennyLane, and other projects. retworkx contains efficient implementations of graph algorithms, and Qiskit Terra leverages those algorithms to efficiently manipulate quantum circuits internally.

This project is about implementing [Exact and practical pattern matching for

[2022-02-15 20:52] miamico opened #27 "Add Lanczos algorithm to Qiskit dynamics"
### Description

The [Lanczos algorithm ](https://en.wikipedia.org/wiki/Lanczos_algorithm) is a numerical method that can be used to calculate time-evolution of closed quantum system. It is a computationally efficient method for large systems and can be useful to speed up the simulation of closed-system dynamics.

### Deliverables

PR to Qiskit dynamics repo to add the feature

### Mentors details

[2022-02-17 04:46] AbeerVaishnav13 opened #28 "Connect an open-source FEM solver and renderer backend to Qiskit Metal"
### Description

The [Qiskit Metal](https://qiskit.org/metal) project aims towards developing an open-source end-to-end toolchain for Superconducting quantum device design. This requires an in-built GUI to render the components of the chip as well as a connection to a FEM solver to obtain parasitic capacitance matrix and/or electromagnetic fields associated with the on-chip components, and. then u

[2022-02-17 15:19] robertloredo opened #29 "Integration of Qiskit with Web3.0"
### Description

[Web3](https://en.wikipedia.org/wiki/Web3) is a term used to describe the decentralized and token-based economics, provided by blockchain technology. Since its emergence many years ago via popular coins and platforms, Bitcoin, Ethereum, etc. lots of development has grown out of this technology. Nowadays more and more commercial applications and companies are getting into Web3.

Fo

[2022-02-17 15:48] ljubabu opened #30 "Solving the system of non-linear differential equations using the Carleman linearization"
### Description

One of the major obstacles in solving multiphysics problems on quantum devices, like the computational fluid dynamics for example, include the non-linearity of corresponding partial diff. equations describing the particular physical process. In order to be able to harvest full potential of the quantum space in solving this complex multiphysics problems, implementation of adequate

[2022-02-17 17:40] iotaisolutions commented on #18
Interested

[2022-02-17 17:43] iotaisolutions commented on #6
Interested

[2022-02-17 18:04] priti-ashvin-shah-ibm opened #31 "Qiskit-Metal Documentation"
### Description

We have draft written documentation written in Overleaf LaTex called
Qiskit Metal:  A quantum device design framework and library.

We would like to have "professional" type diagrams and figures for the document.

Contributor would need to understand the flow of the python code and work with various developers to create diagrams that are meaningful.

### Deliverables

Diagrams add

[2022-02-17 18:29] priti-ashvin-shah-ibm opened #32 "Qiskit Metal -Update compatibility to python 3.10 and add to CI Continous Intetragration"
### Description

We  have a open source repository for Qiskit Metal at https://github.com/Qiskit/qiskit-metal/tree/main

We would like to update CI workflow testing to use python 3.10.  As part of that, we would need to update Metal for 3.10 compatibility. Would need to use Metal to confirm that all features are working as expected.

### Deliverables

Update Metal to be compatible with python 3.10

[2022-02-17 19:09] priti-ashvin-shah-ibm opened #33 "Qiskit Metal - Optimize qroute, adding further checks within existing code."
### Description

Within Qiskit Metal, we have automatic routing software using a modified A* algorithm within QRoute code.  This sometimes has collisions;  need to have additional checks.

### Deliverables

Add additional checks and logic for the modified A* QRoute algorithm.

### Mentors details

- Mentor 1
  - Name:Priti Shah
  - GitHub ID: @Priti Ashvin Shah
  - What they do: Will help to under

[2022-02-17 19:42] priti-ashvin-shah-ibm opened #34 "Qiskit Metal - During rebuild, only rebuild what needs to be done."
### Description

When using Qiskit Metal, after components are added to the design, Rebuild has to happen to populate the Pandas tables.  These tables are QGeometry tables and NetInformation tables.  They are used to render to different tools i.e. Metal GUI, GDS file, Ansys

The Pandas tables have to be accurate.

The rebuild can waste time when rebuilding components that have not been changed.  T

[2022-02-17 20:36] PAPACOTAS commented on #28
Would be great to have this!

[2022-02-17 22:00] jvscursulim commented on #14
I have interest in working on this project. My master's dissertation was about quantum error correction (unfortunately the text is only available in portuguese), in one part of the work I tried to reproduce the experiment described in https://arxiv.org/pdf/1912.09410.pdf using IBMQ Lagos. I also have a repository in my github where there is some QECC implemented on Qiskit (https://github.com/jvscu

[2022-02-18 06:29] Mit-byte commented on #18
Interested

[2022-02-18 08:18] cnktysz opened #35 "Exploring potential of Quantum Neural Networks under noise"
### Description

Quantum neural networks (QNNs) are promising candidates to replace classical feedforward neural networks (Please see work by [Abbas et al.](https://www.nature.com/articles/s43588-021-00084-1)). However, it is still unknown if or when this can happen. Understanding the potential of QNNs requires us to investigate how they perform under many noise effects that we observe on NISQ dev

[2022-02-18 08:32] 1ucian0 commented on #19
Hi @diemilio , pyQuirk looks great! I was not aware of it. It makes total sense to use QASM2 as shared format. Indeed, it look exactly like the thing I was looking for. I will have a deeper look in the coming days.

@HuangJunye shall I close this issue?

[2022-02-18 17:45] JRussellHuffman opened #36 "Qiskit integration for artists"
### Description

Currently, artists who would like to work with Qiskit must figure out how to integrate Qiskit into their creative workflow. This often means translating their work to different programming languages or finding unofficial workarounds, depending on the creative environment. We propose a project to have Qiskit integrated more natively into creative environments (such as Processing).

[2022-02-18 20:27] kevinsung opened #37 "Improve performance and usability of BasicAer"
### Description

Qiskit includes a Numpy simulator backend called BasicAer. It suffers from issues in several areas, including performance, usability, and documentation. This project aims to address those issues.

### Deliverables

Fix the following issues:
- https://github.com/Qiskit/qiskit-terra/issues/7670
- https://github.com/Qiskit/qiskit-terra/issues/7634
- https://github.com/Qiskit/qiskit-t

[2022-02-21 02:58] amirebrahimi commented on #19
Hi @HuangJunye. Sure I'd be happy to mentor.

[2022-02-21 06:31] gunchamalik commented on #17
@itoko I am interested. I have basic knowledge of python and transpiler.

[2022-02-21 06:34] gunchamalik commented on #16
@jlapeyre I have basic knowledge pf python, but no knowledge of Julia. I am interested in learning and contributing to this project.

[2022-02-21 14:31] MaldoAlberto opened #38 "Hybrid algorithm for predicting stock prices"
### Description

The proposal of this project is to generate a quantum circuit that can represent a Quantum RNN and make the connection with a classical model with the purpose of making a prediction of sotck prices. For this purpose we consider as reference the papers [ref1](https://arxiv.org/pdf/2006.14619.pdf), [ref2](https://arxiv.org/pdf/2009.01783.pdf).

### Deliverables

Develop the implemen

[2022-02-21 15:36] HuangJunye commented on #36
This is a very interesting project. I was looking at how to do something similar with game development and Qiskit before joining IBM. So this might be of interest to this project: https://github.com/HuangJunye/Qiskit-for-GameDev (very out of date though). @quantumjim also has a MicroQiskit project that might be useful here: https://github.com/qiskit-community/MicroQiskit

[2022-02-21 19:30] JRussellHuffman commented on #36
Actually, @quantumjim already made a version of microqiskit that works directly in Processing. I'm super glad to have it and use it all the time. However, it would be good to have the full version of Qiskit running for educational purposes, as well as using real quantum data as a part of art-making (which is something that I think is important).

[2022-02-22 14:52] jlapeyre commented on #16
Hi @gunchamalik, thanks for reaching out! We will contact you very soon.

[2022-02-23 08:33] pdc-quantum opened #39 "Quantum Solution to the Byzantine Agreement Problem in Qiskit"
### Description

In the seminal [article](https://lamport.azurewebsites.net/pubs/byz.pdf) by Lamport, Shostak and Marshal, it was proven that no classical solution with less than 3⋅𝑚+1 generals can face 𝑚 traitors. A quantum solution for 3 generals using qutrits is described [here](https://arxiv.org/abs/quant-ph/0107127v1) and can be done with qubits entangled in such a way that they emulate qutri

[2022-02-24 14:43] HuangJunye commented on #19
@amirebrahimi That's great. Thank you for signing up as mentor. I will contact you on Slack for details.

[2022-02-24 21:32] diemilio commented on #28
This would be a great addition to `qiskit-metal`. I would love to apply to this project but I am a bit worried that, since I do not have access to ANSYS, it would be extremely difficult to debug the functionality/connectivity of the new FEM tool. What do you think @AbeerVaishnav13?

[2022-02-28 02:44] bicycle315 commented on #17
I worked on qiskit experiment rb part on last metorship project. I want to keep dive in to this project!

[2022-02-28 11:21] mickahell commented on #32
Hi :) I'm interesting by this project. since month I tell myself I have to use Metal. So it could be a good opportunity. Also I'm pretty familiar with GitHub Actions :
- I builded the CI of [Qiskit Ecosystem](https://github.com/qiskit-community/ecosystem) with Iskandar and Belaji during the last QAMP.
- And also I'm using Actions for all my personal project for automation task

[2022-02-28 11:26] mickahell commented on #7
Hi :) I'm interesting by this project. I'm trying to use AI to build strong opponent in my game ([QPokemon fight](https://github.com/mickahell/quantum_pokemon-fight),  [QNim](https://github.com/mickahell/quantum_Nim-game)) by using Grover and/or QAOA.

I'm always willing to find out more algorithm in order to create more optimal automation process, I'm very interesting in R&D and I need to improve

[2022-03-01 15:59] EACMichiels commented on #18
Could I still joint this team ?
I would love to !
Eric.

[2022-03-01 18:30] EACMichiels commented on #5
I al very interested to join the team !!!

[2022-03-02 15:09] kevinsung opened #40 "Vertical circuit drawer"
### Description

See https://github.com/Qiskit/qiskit-terra/issues/7720. Description copied below.

`QuantumCircuit.draw` should support drawing the circuit with vertical wires instead of horizontal. This is useful when the length of the circuit exceeds the width of the display area. With horizontal wires, this situation results in line wrapping, but with vertical wires no wrapping would be needed

[2022-03-02 16:05] priti-ashvin-shah-ibm opened #41 "Qiskit Metal - During CI, offer user method to reformat file to be yapf."
### Description

During CI, offer user method to reformat file to be yapf.  We require all files to be formatted by yapf so the code "looks" similar.  If the file is not formattted, the CI will fail.  So, it would be nice to offer to reformat for the user.  There are some files that have code which developers don't want to be reformatted to yapf.  The solution of this project needs to address deve

[2022-03-03 16:30] jamesquantum commented on #29
@robertloredo I’d love to be involved in this project

[2022-03-03 21:35] #40 closed, assigned to nobody

[2022-03-04 08:34] HuangJunye commented on #40
@kevinsung Thanks for submitting the project idea. Did you close it because of the new discussions on https://github.com/Qiskit/qiskit-terra/issues/7720#issuecomment-1058246863 ?

[2022-03-04 13:21] kevinsung opened #42 "Change LaTex circuit drawer from qcircuit to qpic"
### Description

See https://github.com/Qiskit/qiskit-terra/issues/7727.

### Deliverables

Fix https://github.com/Qiskit/qiskit-terra/issues/7727.

### Mentors details

- Mentor 1
  - Name: Kevin Sung
  - GitHub ID: kevinsung
  - What they do: Qiskit Researcher

### Number of mentees

1

### Type of mentees

- Mentee 1
  - Required:
    - Knowledge of Python
  - Nice to have:
    - Knowledge of L

[2022-03-04 13:21] kevinsung commented on #40
@HuangJunye Yes, sorry, I should have mentioned that. I've replaced this project with https://github.com/qiskit-advocate/qamp-spring-22/issues/42.

[2022-03-07 15:11] priti-ashvin-shah-ibm commented on #41
This is going to be worked on by Axel Ismirlian.

 [@axel ismirlian](https://qiskit.slack.com/team/U02MEA3T8G7)

[2022-03-07 15:12] priti-ashvin-shah-ibm commented on #32
I believe @mickahell is working with a different issue and this project is open.

[2022-03-07 15:16] priti-ashvin-shah-ibm commented on #33
[@Nick Lanzillo](https://qiskit.slack.com/team/U01L5CN00JK)
Nick Lanzillo has requested to work on this and we support this.

[2022-03-07 15:30] mickahell commented on #32
Yes i'm on the 7, and not on this one

[2022-03-07 19:35] ismirlia commented on #41
I would like to work on this project.

[2022-03-08 12:02] Gruntrexpewrus commented on #4
Hi, this project is very interesting!

[2022-03-08 18:42] jlapeyre commented on #16
Here is one possible topic:

There are two separate ways for Julia and Python to communicate dynamically. One is via [PyCall.jl](https://github.com/JuliaPy/PyCall.jl) / [pyjulia](https://github.com/JuliaPy/pyjulia). The other (more recent) is via [PythonCall.jl / juliacall](https://github.com/cjdoris/PythonCall.jl). It would be great if a single candidate were the clear winner. It's not clear that

[2022-03-08 20:03] priti-ashvin-shah-ibm commented on #32
@gyeonghunkim has expressed interest to work on this, and we support this paring.

[2022-03-09 14:10] quantumjim commented on #14
Hi @jvscursulim and @abzsd.

I see you are both chose this as a possible project. Is that still the case?

[2022-03-09 14:39] abzsd commented on #14
Yes, I am interested in being a part of this project.

[2022-03-09 15:05] AbeerVaishnav13 commented on #28
Hi all, it turns out that this project is a bit too long and time consuming to be completed successfully within the time limit of QAMP Spring22. Instead, we are planning to take on this project separately as an independent project/contribution for Qiskit Metal. If you're interested to join in, please comment here or DM me on Qiskit slack. Thanks!

[2022-03-09 15:29] jvscursulim commented on #14
Yes, I still have interest in being part of this project.

[2022-03-09 15:39] quantumjim commented on #14
I think we could have both of you on the project. Especially if we mainly communicate via Slack. Perhaps some time in the early afternoon (Swiss time) would suit everyone for any meetings all together.

[2022-03-09 15:47] #28 closed

[2022-03-09 16:46] jvscursulim commented on #14
Looks good to me

[2022-03-10 01:41] robertloredo commented on #29
@jamesphysics Welcome aboard!
Looking forward to getting this project going!

@HuangJunye FYI.

[2022-03-10 10:38] abzsd commented on #14
Yeah sure, great!!

[2022-03-10 15:24] kevinsung commented on #37
After internal discussions, the referenced issue has been closed in favor of other issues, which will therefore become the focus of this project:
- https://github.com/Qiskit/qiskit-terra/issues/7670
- https://github.com/Qiskit/qiskit-terra/issues/7634
- https://github.com/Qiskit/qiskit-terra/issues/7644

[2022-03-10 18:08] quantumjim commented on #14
@abzsd Are you on the Qiskit Slack? I can't seem to find you there.

[2022-03-10 18:15] robertloredo commented on #38
@MaldoAlberto @HuangJunye perhaps we can combine efforts here as there might be some similarity/overlaps based on project. Please see issue #29 which I created.

[2022-03-10 18:16] abzsd commented on #14
Yeah, I'm there on Qiskit slack. My display name is Abhay K / Abhay_K.

[2022-03-10 18:17] robertloredo commented on #36
Happy to join to feed my curiosity. :)

[2022-03-10 18:19] robertloredo commented on #38
@anamariarojas123 Hi Ana, here is the other issue I mentioned that might be a good collaborative link. See my message above. :)

[2022-03-10 20:56] SiddharthaMorales commented on #38
Hi, I'm a mentee in this project

[2022-03-11 10:05] pdc-quantum commented on #35
Very interested in this project in areas where I already have knowledge. I'm willing to join him as a mentee.

[2022-03-11 15:31] HuangJunye commented on #35
@cnktysz would you like to take @pdc-quantum as mentee for this project? Can you please communicate on Slack to discuss? If you have decided to work together, please let me know on Slack. Thank you :)

[2022-03-11 21:14] priti-ashvin-shah-ibm commented on #32
https://github.com/Qiskit/qiskit-metal/pull/534

This the pull request which merged to have python 3.9 be part of CI.

[2022-03-12 08:20] iotaisolutions commented on #35
Interested

[2022-03-14 15:48] kevinsung commented on #37
This project now has a mentee: @alejomonbar

[2022-04-03 16:56] Gruntrexpewrus commented on #4
This is our presentation for the first checkpoint! Work is in progress :)
[#4 Add performance benchmarks for Qiskit Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8405068/4.Add.performance.benchmarks.for.Qiskit.Machine.Learning.pdf)

[2022-04-04 09:38] #39 closed

[2022-04-04 09:40] pdc-quantum commented on #39
Closed because in No applicant status.

[2022-04-04 15:06] asgunzi commented on #2
[#2 VQE optimization with dynamic shot scheduling CheckPoint 1 - April 2022 - Arnaldo Gunzi - Julien Gacon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8410869/2.VQE.optimization.with.dynamic.shot.scheduling.CheckPoint.1.-.April.2022.-.Arnaldo.Gunzi.-.Julien.Gacon.pdf)

[2022-04-05 09:36] asgunzi commented on #2
[#2 VQE optimization with dynamic shot scheduling CheckPoint 1 - April 2022 - Arnaldo Gunzi - Julien Gacon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8416865/2.VQE.optimization.with.dynamic.shot.scheduling.CheckPoint.1.-.April.2022.-.Arnaldo.Gunzi.-.Julien.Gacon.pdf)
File for checkpoint 1.

[2022-04-05 19:22] anonymousr007 commented on #20
Hello sir,

I am Rishabh, an undergraduate final year computer science and engineering student and I am interested in this project.
My interests: `Quantum Information` and `Quantum Error Correction`

Thanks & Regards
Rishabh

[2022-04-06 09:25] rafal-pracht commented on #16
[# 16 Julia - Qiskit.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8425516/16.Julia.-.Qiskit.pdf)

[2022-04-06 09:55] gunchamalik commented on #16
[Julia Backend for Qiskit - Checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8425788/Julia.Backend.for.Qiskit.-.Checkpoint.1.pdf)

[2022-04-06 10:25] kUmezawa commented on #20
This is our presentation for the first checkpoint!

[#20 Implement new features and improve documentation in Operators.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8440751/20.Implement.new.features.and.improve.documentation.in.Operators.pdf)

[2022-04-06 11:43] alejomonbar commented on #37
[#37 Improve performance and usability of BasicAer.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8426513/37.Improve.performance.and.usability.of.BasicAer.pdf)

[2022-04-06 12:59] jwoehr commented on #1
Checkpoint 1 presentation @HuangJunye
[#1_Transpiler_Hackathon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8427052/1_Transpiler_Hackathon.pdf)

[2022-04-06 17:27] saharbenrached commented on #16
[#16 Issues in qiskit-alt: a Julia backend for Qiskit.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8429107/16.Issues.in.qiskit-alt.a.Julia.backend.for.Qiskit.pdf)

[2022-04-06 18:09] priti-ashvin-shah-ibm commented on #41
@HuangJunye , could you assign @axel ismirlian to this issue?  I am not able to.

Post comment: I realized that the issues don't have people assigned.  Please ignore my request.

[2022-04-06 18:12] ismirlia commented on #41
This is the power point for the first checkpoint.
[qamp-checkpoint-1-axel-nick-gyeonghun-v2.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8429408/qamp-checkpoint-1-axel-nick-gyeonghun-v2.pptx)

[2022-04-06 18:13] priti-ashvin-shah-ibm commented on #33
Junye edit: This project was presented together with other Qiskit Metal projects. The slide can be found here: https://github.com/qiskit-advocate/qamp-spring-22/issues/41#issuecomment-1090580053

Checkpoint 1

[2022-04-06 18:15] priti-ashvin-shah-ibm commented on #32
Junye edit: This project was presented together with other Qiskit Metal projects. The slide can be found here: https://github.com/qiskit-advocate/qamp-spring-22/issues/41#issuecomment-1090580053

Checkpoint 1

[2022-04-06 20:33] mickahell commented on #7
[#7 Architecting and Operationalizing Quantum Kernels for Machine Learning Workflow](https://github.com/qiskit-advocate/qamp-spring-22/files/8430347/qamp_checkpoint.pdf)

[2022-04-06 21:09] cfilleke commented on #7
Revision to
[qamp_checkpoint.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8430597/qamp_checkpoint.pdf)

[2022-04-06 23:18] enavarro51 commented on #9
Here are the presentation slides for Checkpoint 1. [PlanarLayoutPres.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8435497/PlanarLayoutPres.pdf)

[2022-04-07 01:25] MozammilQ commented on #16
This is my checkpoint-1's small presentation:
[#16 Issues in qiskit-alt: a Julia backend for Qiskit.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8438884/16.Issues.in.qiskit-alt.a.Julia.backend.for.Qiskit.pdf)

[2022-04-07 02:21] fs1132429 commented on #3
[qamp-spring22.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8439143/qamp-spring22.pptx)
Here is the ppt slides.

[2022-04-07 02:47] dsierrasosa commented on #8
Presentation for Checkpoint 1!
[QAMP-2022_Spring.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8439238/QAMP-2022_Spring.pdf)

[2022-04-07 04:46] EACMichiels commented on #5
I hereby do an upload of my intermediate reporting on 7 April 2022.
[QAMP Spring 2022 - #5 From zero to hero - Eric Michiels - April 2022.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8439703/QAMP.Spring.2022.-.5.From.zero.to.hero.-.Eric.Michiels.-.April.2022.pptx)

[2022-04-07 05:02] bala-ceg commented on #18
Checkpoint 1 presentation

[#18 Real world data analysis using Quantum Machine Learning Algorithms_checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8439766/18.Real.world.data.analysis.using.Quantum.Machine.Learning.Algorithms_checkpoint1.pdf)

[2022-04-07 05:05] rupeshknn commented on #27
Here is the pdf of the presentation: [Checkpoint_1-Lanczos_Algorithm_for_Qiskit_Dynamics.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8439786/Checkpoint_1-Lanczos_Algorithm_for_Qiskit_Dynamics.pdf)

[2022-04-07 05:27] q-inho commented on #21
[#21 TorchRuntime tutorial 2.0 (QML).pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8439877/21.TorchRuntime.tutorial.2.0.QML.pdf)

[2022-04-07 07:57] tgag17 commented on #10
Checkpoint 1 ppt:
[#10 Expand qiskit-neko testing.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8440792/10.Expand.qiskit-neko.testing.pdf)

[2022-04-07 09:34] jvscursulim commented on #14
[#14 QEC fidelity for cx gates.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8441603/14.QEC.fidelity.for.cx.gates.pdf)
File for checkpoint 1

[2022-04-07 09:50] abzsd commented on #14
Checkpoint 1 Presentation Slides :
[#14 QEC fidelity for cx gates.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8441711/14.QEC.fidelity.for.cx.gates.pdf)

[2022-04-07 13:55] bicycle315 commented on #17
[IRB with Delay.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8443447/IRB.with.Delay.pdf)

[2022-04-07 14:07] mentesniker commented on #23
1st checkpoint presentation:
[Web components (1).pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8443618/Web.components.1.pdf)

[2022-04-07 16:07] jwoehr commented on #1
Updated Checkpoint 1 presentation @HuangJunye (misplaced image
[#1_Transpiler_Hackathon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8444780/1_Transpiler_Hackathon.pdf)
)

[2022-04-07 16:12] jwoehr commented on #1
Updated presentation again! More formatting @HuangJunye
[#1_Transpiler_Hackathon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8444805/1_Transpiler_Hackathon.pdf)

[2022-04-07 18:07] Morcu commented on #6
[#6 Qiskit-Braket plugin.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8445439/6.Qiskit-Braket.plugin.pdf)

[2022-04-08 05:45] anonymousr007 commented on #20
Hi, I see this pdf and I am interested in this. So, What's the further process to get selected as a mentee?

[2022-04-09 08:47] anonymousr007 commented on #30
Hi @ljubabu, I am Rishabh, an undergraduate computer engineering student at Delhi Technological University. I am interested in this project. So, can you please share further detail to become a mentee in this project?

[2022-04-09 12:36] ljubabu commented on #30
Dear Rishabh,

As far as i know (correct me if I’m wrong) the selection process is finished, hence I suggest to first contact the people from Qiskit to see

if its possible to start the mentorship in this stage. If they agree with this we could than talk little bit about the project. Since this project is

little bit a demanding in sense of underlying mathematics, I have an alternative options (al

[2022-04-13 09:01] HuangJunye commented on #1
@TheGupta2012 @Feigenbaum4669 @pulkit365 @charmerDark Can you please comment on this issue so that I can assign it to you? Thank you.

[2022-04-13 09:05] HuangJunye commented on #8
@VedDharkar @epelaaez @AntonSimen06 Can you please comment in the issue so that I can assign you? Thank you.

[2022-04-13 09:06] HuangJunye commented on #11
Closing this issue as it was not paired with any mentees

[2022-04-13 09:06] #11 closed

[2022-04-13 09:07] HuangJunye commented on #12
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:07] #12 closed

[2022-04-13 09:08] HuangJunye commented on #13
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:08] HuangJunye commented on #13
@Cryoris We can work on this together in our own time!

[2022-04-13 09:09] HuangJunye commented on #15
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:09] #15 closed

[2022-04-13 09:13] HuangJunye commented on #18
@Mit-byte @KakashiOO7 Can you please comment in the issue so that I can assign you? Thank you.

[2022-04-13 09:14] HuangJunye commented on #19
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:14] #19 closed

[2022-04-13 09:15] HuangJunye commented on #20
Hi @anonymousr007, you will need to first apply to the qiskit advocate program. You can find more information about how to apply in [the application guide](https://github.com/qiskit-advocate/application-guide). If you have more questions, you can ask in the#qiskit-advocate-application channel. Thank you!

[2022-04-13 09:16] HuangJunye commented on #20
@daiki0623 @YumaNK Can you please comment in the issue so that I can assign you? Thank you.

[2022-04-13 09:18] HuangJunye commented on #22
@mentesniker Can you please upload your checkpoint 1 presentation here? Thank you.

[2022-04-13 09:19] HuangJunye commented on #22
Sorry that was a mistake. You are working on #23. Please ignore my comment :) Closing this issue as it was not paired.

[2022-04-13 09:19] HuangJunye commented on #24
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:19] #24 closed

[2022-04-13 09:20] HuangJunye commented on #26
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:20] #26 closed

[2022-04-13 09:21] HuangJunye commented on #25
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:21] #25 closed

[2022-04-13 09:24] HuangJunye commented on #38
@robertloredo @MaldoAlberto @SiddharthaMorales @jamesphysics Is this project now merged with #29 ? If so can you please close one of the issue and upload the presentation slides for checkpoint 1? Thank you.

[2022-04-13 09:27] HuangJunye commented on #32
@gyeonghunkim Can you please upload the checkpoint 1 presentation here? Thank you.

[2022-04-13 09:28] HuangJunye commented on #31
@priti-ashvin-shah-ibm This project has no mentee working it right? Can I close the issue?

[2022-04-13 09:28] HuangJunye commented on #34
@priti-ashvin-shah-ibm This project has no mentee working it right? Can I close the issue?

[2022-04-13 09:30] HuangJunye commented on #35
Closing this issue as the team decided not to proceed beyond the trial period. Hope you have better luck next time and come back for the Fall cohort!

[2022-04-13 09:30] #35 closed

[2022-04-13 09:51] HuangJunye commented on #36
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 09:51] #36 closed

[2022-04-13 09:56] HuangJunye commented on #33
@nalanzil Can you please comment in the issue so that I can assign you?

[2022-04-13 09:58] HuangJunye commented on #32
@GyeonghunKim Sorry I just noticed the slide is uploaded in #41 Please ignore my comment.

Can you please comment in the issue so that I can assign you? Thank you.

[2022-04-13 10:00] HuangJunye commented on #42
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 10:00] #42 closed, assigned to nobody

[2022-04-13 10:02] HuangJunye commented on #30
@anonymousr007 Thanks for your interest in the project. In order to participate, you need to become a Qiskit advocate first. You can see more information about how to apply in [the application guide](https://github.com/qiskit-advocate/application-guide).

[2022-04-13 10:02] HuangJunye commented on #30
Closing this issue as it was not paired with any mentee. Thank you for suggesting the project idea!

[2022-04-13 10:02] #30 closed

[2022-04-13 10:03] HuangJunye commented on #34
Closing the issue now. Please let me know if this is actually being done by a mentee.

[2022-04-13 10:03] #34 closed

[2022-04-13 10:03] HuangJunye commented on #31
Closing the issue now. Please let me know if this is actually being done by a mentee.

[2022-04-13 10:03] #31 closed

[2022-04-13 10:31] epelaaez commented on #8
No problem

[2022-04-13 10:50] AntonSimen06 commented on #8
Sure!

[2022-04-13 11:44] Feigenbaum4669 commented on #1
@HuangJunye Hello, please assign it to me.

[2022-04-13 12:15] nalanzil commented on #33
I'm working on this issue

[2022-04-13 13:08] KakashiOO7 commented on #18
Sure @HuangJunye .

[2022-04-13 13:16] VedDharkar commented on #8
Sure!!

[2022-04-13 13:51] mitadake commented on #18
👍 @HuangJunye

[2022-04-14 13:53] SiddharthaMorales commented on #38
Sorry about the slides, here they are.
[Hybrid algorithm for predicting stock prices #38.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8489667/Hybrid.algorithm.for.predicting.stock.prices.38.pdf)

@HuangJunye  We haven't been able to set up a meeting and talk with james about joining project, could you contact him?

[2022-04-15 02:36] YumaNK commented on #20
OK, please assign me to this issue.

[2022-04-15 10:45] anonymousr007 commented on #20
Okay sir, thanks to clear it @HuangJunye. Yes, I have some questions.
1. Actually, I participated in most of the IBM Challenges
- IBM Quantum Challenge Fall 2020
- ICPC Quantum Computing Challenge powered by IBM Quantum
- IBM Quantum Challenge 2021
- Qiskit - Quantum Machine Learning Summer School 2021
- IBM Quantum Africa Challenge 2021
- IBM Quantum Challenge Fall 2021
So, do my points count in

[2022-04-15 23:14] daimurat commented on #20
@HuangJunye Sorry, I'm late, thank you.

[2022-04-18 00:19] ikkoham commented on #20
@anonymousr007 Ignis is deprecated. you can use qiskit-experiments alternatively.

[2022-04-19 09:03] HuangJunye commented on #20
@anonymousr007 That looks great. In order not to mix up the conversations with the QAMP project here, can you please ask your questions on Qiskit Slack workspace? My slack ID is @Junye Thank you!

[2022-04-28 20:42] ismirlia commented on #41
Checkpoint 2

I have changed the script for the pre-commit hook. It now only runs yapf on the staged files, which runs faster. I have cut down on the number of dependencies needed to utilize the pre-commit hook. I tested on mac, windows and github desktop.

Here are some screen shots of what the error messages a user might get on different platformts.

github desktop
![github_desktop_screenshot](h

[2022-04-29 15:56] TheGupta2012 commented on #1
Hi @HuangJunye , sorry I'm seeing this message a bit late. Please do assign the issue to me as well.

[2022-05-01 10:01] YumaNK commented on #20
**Checkpoint 2**

Relating PR: https://github.com/Qiskit/qiskit-terra/pull/7874
Relating issue: https://github.com/Qiskit/qiskit-terra/issues/6624

1. make code more readable and efficient
In the previous Checkpoint phase, I did PullRequest the code that I only confirmed that input and output were as expected. The matrix calculation block, which is less readable, took up most of the code. Reflecti

[2022-05-01 15:41] asgunzi commented on #2
### Checkpoint 2 - VQE optimization with dynamic shot scheduling - May 2022

In this project, the goal is to implement a new optimization method for Qiskit’s VQE algorithm. The algorithm, called ICANS [1], adaptively selects the number of shots in each iteration to reach the target accuracy with minimal number of quantum computational resources.

There are two main deliverables:
•	iCANS as new sub

[2022-05-02 03:20] daimurat commented on #20
Checkpoint 2

- Relating issues:
1. https://github.com/Qiskit/qiskit-terra/issues/7502
2. https://github.com/Qiskit/qiskit-terra/issues/8006
- Relating PRs
1. https://github.com/Qiskit/qiskit-terra/pull/7919
2. https://github.com/Qiskit/qiskit-terra/pull/8007

- Progress
1. Merged my pull request about implementing alias `BaseOperator.__mutmul__` to `BaseOperator.dot`
2. Created an issue and pull

[2022-05-03 05:00] Gruntrexpewrus commented on #4
Our work in QAMP Spring 2022 consists in benchmarking and exploring the capability of Qiskit machine learning in regards to quantum kernel methods. We have an open draft pull request on qiskit-app-benchmarks and we are working to extract visualizations in airspeed velocity (asv). We test 2 main models, such as QuantumKernel and QuantumKernelTrainer, which differ for the absence or not of parametri

[2022-05-03 08:53] kUmezawa commented on #20
Checkpoint 2

1. A short (500 words or less) update on the work I’ve achieved since Checkpoint 1.

Added two methods for the following functions to SparsePauliOp.
Added 7 cases of tests related to them.
sent a pull request.

Relating PRs
https://github.com/Qiskit/qiskit-terra/pull/8016

【argsort】
Returns the composition of permutations in the order of sorting by coefficient and sorting by Pauli.
B

[2022-05-03 18:10] Morcu commented on #6
Recap:

Since first checkpoint our focus was on:
- [x] refining backends, jobs classes
- [x] writing tutorials
- [x] executing agains real devices
- [ ] experimenting on hybrid jobs
- [x] testing on algorithms (VQE)
- [x] documentation

Remaining works in our TODO list without specific order:
- [ ] increase test coverage
- [ ] first release
- [ ] ci/cd for release procedures
- [ ] writing up more

[2022-05-03 19:41] EACMichiels commented on #5
**_Checkpoint on 5-May-2022_**
My project consists of 5 phases. I have been mentored very professionally during all of them.
In the first phase I analyzed two existing Quantum Machine Learning (QML) tutorials that are available in Qiskit. The drive to understand each piece of code to the ultimate detail allowed me to learn a lot. I also updated my Qiskit QML version up to the most recent level.
In

[2022-05-04 03:13] mentesniker commented on #23
Update checkpoint 2
Created two PR request for the qiskit web components repo:
- [This footer](https://github.com/Qiskit/web-components/pull/67) which contains a web component of a footer.
- [This button](https://github.com/Qiskit/web-components/pull/72) which contains an account button for the existing navbar component.
Screenshots:
![image](https://user-images.githubusercontent.com/35209340/1666

[2022-05-04 04:14] GyeonghunKim commented on #32
Checkpoint 2

I modified some code in pyEPR, which is one of the key libraries in qiskit-metal for python 3.10 support, and made a pull request. After this, I checked whether qiskit-metal running correctly with updated pyEPR. However, I also found some issues with this. Now I trying to fix them.

<img width="940" alt="스크린샷 2022-05-04 오후 1 12 46" src="https://user-images.githubusercontent.com/34947

[2022-05-04 18:54] jvscursulim commented on #14
Since checkpoint 1 of the QAMP Spring 2022, I have been working on an analysis of the performance of different types of CNOT gates under some noise conditions: bit-flip error channel, depolarizing error channel, coherent errors and a combination of one error channel with coherent errors. The picture attached to this message, brings some results that I have obtained in the study of the CNOT constru

[2022-05-04 19:52] rafal-pracht commented on #16
The work on Julia-powered quantum library QuantumCircuits (https://github.com/Adgnitio/QuantumCircuits.jl) is going very well.
![image](https://user-images.githubusercontent.com/55279376/166814772-5dd221ea-b492-4be0-a60b-9f91dd0ee3ce.png)

There is now 5 Contributor in the library who created and merged 24 pull requests and by that closed 21 issues (https://github.com/Adgnitio/QuantumCircuits.jl/i

[2022-05-04 21:12] nalanzil commented on #33
Second update for QAMP Spring 2022

[Qamp Update #2 5-4-2022.docx](https://github.com/qiskit-advocate/qamp-spring-22/files/8627202/Qamp.Update.2.5-4-2022.docx)

![Qamp Update #2 5-4-2022](https://user-images.githubusercontent.com/69473562/166826689-0946fa87-8e19-4dc2-b6fa-52e4ca4baeb8.jpg)

[2022-05-05 03:04] bicycle315 commented on #17
### Support dealy IRB with changed code
Interleaved benchmarking module in qiskit-experiments supported interleaving gates and quantumcircuit but not instruction such as `delay`. We fixed code to interleave delay as instruction.
- made a development environment and install qiskit-experiment, qiskit-terra in editable mode
- write a testcode to confirm the existing qiskit-experiments fails interleav

[2022-05-05 03:56] kUmezawa commented on #20
@HuangJunye Sorry, I accidentally  removed my assignment. Could you assign me again?

[2022-05-05 08:40] HuangJunye commented on #20
@kUmezawa No problem. Assigned you again :)

[2022-05-05 09:26] abzsd commented on #14
I have been working on the finding the effect of combining the Randomized benchmarking technique with the Quantum Error correction approach, and trying to find how this particular arrangement causes the reduction in SPAM errors, or leads to increase in the cross-talk/correlated errors. The main goal of this project is to build a QEC-inspired benchmark to measure the fidelity of any CX gate. This t

[2022-05-05 12:42] fs1132429 commented on #3
Checkpoint 2:
AdaptVQE is an algorithm that creates a compact ansatz by gradually building up the ansatz circuit by appending the excitation with the largest energy gradient to the circuit. This results in a wavefunction ansatz that is uniquely formed by the algorithm. Traditional VQE has a fixed or ad hoc ansatz. This affects the simulation as variational flexibility depends on the ansatz. But Ad

[2022-05-05 12:42] fs1132429 commented on #3
<img width="814" alt="Screenshot 2022-05-04 at 10 55 06 PM" src="https://user-images.githubusercontent.com/28627285/166925137-09e915ef-7ade-4326-ac9a-a4de456347d0.png">

[2022-05-05 13:18] alejomonbar commented on #37
# Checkpoint 2
At this point, I have two pull requests with one of them merged. These pull requests solve some problems for the BasicAer backend. The first solves the problem with the limit of max_shots in this backend (prior it was set arbitrarily to 65536 and now it is unlimited max_shots) and the second makes "date" a default attribute for the BasicAer backends. A major problem was identified w

[2022-05-05 14:42] bala-ceg commented on #18
Checkpoint 2 work update & visual update

[Work Update.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8632168/Work.Update.pdf)

https://user-images.githubusercontent.com/70808619/166948780-10d201ab-6f27-4877-a23e-e64cb9eca5e0.mp4

[2022-05-05 16:24] jwoehr commented on #1
[Our May 5, 2002 checkpoint can be seen here.](https://github.com/QAMP-Spring-2022-Transpiler-Hackathon/QAMP-Spring-2022-Transpiler-Hackathon.github.io/blob/main/checkpoint_presentations/checkpoint_2_20220505/update_20220505.md)

[2022-05-05 16:32] saharbenrached commented on #16
The modue qiskit-alt can be used to compute the fermionic operator of a molecule and convert it to a Pauli operator using the Jordan-Wigner transformation. This would later serve as an input to run molecular simulation algorithms from Qiskit Nature module.
We are adding tutorials to demonstrate the use of the qiskit-alt module for users to run molecular simulation tasks.
For the first tutorial, we

[2022-05-05 19:57] mickahell commented on #7
The speech :
[code]

[2022-05-05 20:05] mickahell commented on #7
<details>
  <summary>Screenshots</summary>

![general_structure](https://user-images.githubusercontent.com/20951376/167015815-6ec3f95f-28b2-48b6-8e77-4f7ac0ecb579.png)
![matrix_cmpl](https://user-images.githubusercontent.com/20951376/167015818-57cb7853-e629-4358-b4a7-94e5b322052c.png)
![qkernel_metadata](https://user-images.githubusercontent.com/20951376/167015820-3ce2e7ea-f830-45fd-a2a5-1645ba234

[2022-05-05 22:28] ThomasGM4 commented on #33
Does the .crosses() method work for comparing polys for overlap? Or say, if the path terminates inside of Q3?

[2022-05-05 23:19] nalanzil commented on #33
.crosses() catches the polygons that overlap (but not the linestrings.) .intersects() catches both polys and linestrings, but it also counts a CPW starting from the linestring on a qubit as an "overlap" which we don't want...

[2022-05-05 23:33] MozammilQ commented on #16
After Checkpoint 1 I focused on the issue: https://github.com/Qiskit-Extensions/qiskit-alt/issues/27

In qiskit-alt/docker_tests, there is a shell file ./run_dockerfiles.sh
Basically, this is a shell script that has purposes like building a docker image, running a docker container, and then running different tests for qiskit-alt package, other functionality includes like logging into the shell, et

[2022-05-06 00:38] ThomasGM4 commented on #33
Ooh, since they technically share the same coordinate and are separate geometries, and would definitely be an issue if did any distance spacing aspects too.

[2022-05-06 08:53] HuangJunye commented on #27
@rupeshknn Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 08:53] HuangJunye commented on #38
@SiddharthaMorales Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 08:53] HuangJunye commented on #29
@jamesphysics Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 08:54] #21 closed

[2022-05-06 08:54] HuangJunye commented on #10
@tgag17 Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 08:54] HuangJunye commented on #9
@enavarro51 Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 08:54] HuangJunye commented on #8
@VedDharkar @epelaaez @AntonSimen06 Can you please provide your checkpoint 2 updates? Instructions are given in [the slack channel](https://qiskit.slack.com/archives/C031KJYKQ84/p1651056055527459).

[2022-05-06 09:05] tgag17 commented on #10
@HuangJunye Sorry for the delay. I will update the checkpoint 2 asap.

[2022-05-06 09:46] epelaaez commented on #8
**Checkpoint 2**

We’ve taken the code needed to solve the maximal covering location problem with a quantum circuit and condensed it in Python notebook as a walkthrough of the problem. After defining the problem mathematically and outlining the process to solve it, we import our specific problem from an Excel file and then use the [gurobipy](https://www.gurobi.com/documentation/9.5/quickstart_mac/

[2022-05-06 13:54] enavarro51 commented on #9
Sorry, @HuangJunye. I put it in https://github.com/Qiskit/retworkx/issues/438, which is the issue I am actually working on.

**Add Planar Layout to retworkx**

The goal of this PR is to add a planar layout option to the other existing layout options in retworkx using the Rust language. A planar layout should provide better visualization of coupling maps in the gate_map module than existing options

[2022-05-08 11:44] tgag17 commented on #10
### **Update: Checkpoint 2**

Qiskit-neko is being developed to incorporate CI coverage in Qiskit. These tests are used primarily for two purposes: backwards compatibility testing for Qiskit to validate the changes proposed to any Qiskit project do not break functionality from the previous releases and to validate that functionality works as expected with different providers.

Before the start of

[2022-05-08 19:13] SiddharthaMorales commented on #38
### Project Update May 8

We managed to reproduce the famous example of a LSTM neural network:
https://towardsdatascience.com/a-quantum-enhanced-lstm-layer-38a8c135dbfa

in qiskit.

![image](https://user-images.githubusercontent.com/26331187/167311967-224af626-cc5f-4107-a7c3-8ae2587a99b6.png)

Now we will move forward to use different QNN models and not only the expectation value of Z operators.

[2022-05-09 10:54] rupeshknn commented on #27
# Checkpoint 2
Implemented Lanczos Ground state algorithm for scipy CSR sparse matrices and fixed bugs to work with complex arrays. Runtime comparable with `QuSpin` and better than `SciPy.sparse` and `NumPy`.
![image](https://user-images.githubusercontent.com/33568503/167395966-b6758473-ebdf-4c0e-be07-199d1c982202.png)
![dense-vs-sparse](https://user-images.githubusercontent.com/33568503/167396005

[2022-06-08 20:40] ismirlia commented on #41
@HuangJunye I was going to give a live short demo of my project tomorrow, so I don't have any slides to upload.

[2022-06-08 20:59] nalanzil commented on #33
[#33 Qiskit Metal QRoute Optimization Lanzillo Final 06.08.2022.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8865006/33.Qiskit.Metal.QRoute.Optimization.Lanzillo.Final.06.08.2022.pdf)

[2022-06-08 22:31] cfilleke commented on #7
PDF of checkpoint 2
[qamp_checkpoint.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8865408/qamp_checkpoint.pdf)

[2022-06-09 05:37] daimurat commented on #20
This is our presentation for final showcase.

[#20 Implement new features and improve documentation in Operators.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8867192/20.Implement.new.features.and.improve.documentation.in.Operators.pdf)
.

[2022-06-09 06:17] fs1132429 commented on #3
Final presentation :
[final_spring.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8867411/final_spring.pptx)

[2022-06-09 07:26] tgag17 commented on #10
Final Checkpoint ppt:
[#10 Expand qiskit-neko testing.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8867920/10.Expand.qiskit-neko.testing.pdf)

[2022-06-09 07:58] alejomonbar commented on #37
[#37 Improve performance and usability of BasicAer v2.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8868165/37.Improve.performance.and.usability.of.BasicAer.v2.pdf)

[2022-06-09 08:00] Gruntrexpewrus commented on #4
Final Checkpoint!
[Final Showcase.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8868193/Final.Showcase.pdf)

[2022-06-09 08:21] KakashiOO7 commented on #18
Final Showcase:

[Video Link](https://vimeo.com/718619428)

[2022-06-09 09:07] bala-ceg commented on #18
[Video Link](https://vimeo.com/718619428)

[2022-06-09 10:17] rafal-pracht commented on #16
[Checkpoint3-#16.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8869398/Checkpoint3-.16.pdf)

[2022-06-09 14:34] ismirlia commented on #41
@HuangJunye
Checkpoint 3
Here are some slides I threw together this morning.
[qamp-checkpoint-3-axel.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8871305/qamp-checkpoint-3-axel.pptx)

[2022-06-09 15:11] asgunzi commented on #2
[#2 VQE Optimization with dynamic shots Jun 2022 - Arnaldo Gunzi - Julien Gacon.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8871625/2.VQE.Optimization.with.dynamic.shots.Jun.2022.-.Arnaldo.Gunzi.-.Julien.Gacon.pdf)
Final showcase pdf file.

[2022-06-09 16:11] EACMichiels commented on #5
Delivery Presentation and Jupyter Notebook for 9-Jun-2022
[#5 From zero to hero - QML tutorial on real dataset - Eric Michiels - June 2022.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8872072/5.From.zero.to.hero.-.QML.tutorial.on.real.dataset.-.Eric.Michiels.-.June.2022.pdf)

[2022-06-09 16:15] EACMichiels commented on #5
This is the Jupyter Notebook in PDF format.
[Uploading #5 From zero to hero - QML tutorial on real dataset - Jupyter Notebook - Eric Michiels - June 2022.pdf…]()

[2022-06-09 16:17] EACMichiels commented on #5
[#5 From zero to hero - QML tutorial on real dataset - Jupyter Notebook - Eric Michiels - June 2022.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8872111/5.From.zero.to.hero.-.QML.tutorial.on.real.dataset.-.Jupyter.Notebook.-.Eric.Michiels.-.June.2022.pdf)

[2022-06-09 16:18] EACMichiels commented on #5
@HuangJunye Please find my deliverables in this issue :-)
Eric Michiels.

[2022-06-09 19:10] jvscursulim commented on #14
Checkpoint 3 (Final)

GitHub repositories:

https://github.com/jvscursulim/cnot-benchmark
https://github.com/jvscursulim/using_grover_algorithm_to_findout_the_distance_of_a_classical_error_correcting_code

[#14 Benchmarking noisy CX gates with QEC - Final showcase slides.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8873205/14.Benchmarking.noisy.CX.gates.with.QEC.-.Final.showcase.sl

[2022-06-09 19:55] mentesniker commented on #23
Final presentation
[Web components.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8873473/Web.components.pdf)

[2022-06-10 02:29] bicycle315 commented on #17
[Delay_IRB.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8875286/Delay_IRB.pdf)

[2022-06-12 18:00] GyeonghunKim commented on #32
@HuangJunye

Here's my ppt slide! Thanks for your support.
[QAMP_Final.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8886429/QAMP_Final.pptx)

[2022-06-13 22:01] jwoehr commented on #1
[Here's our final presentation](https://drive.google.com/file/d/1OqdddNmeHo_KFkm5B-EPA5h3roGGLK1t/view?usp=sharing)  @HuangJunye ... more material will be appended to our [project website](https://qamp-spring-2022-transpiler-hackathon.github.io/) later this week.

[2022-06-13 22:38] MozammilQ commented on #16
Final Presentation:
https://youtu.be/bjz3FKpm744

[2022-06-14 22:03] SiddharthaMorales commented on #38
We presented all results on the final showcase for this qamp-spring.
The presentation is attached here.

[Hybrid algorithm for predicting stock prices #38 Final.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8904178/Hybrid.algorithm.for.predicting.stock.prices.38.Final.pdf)

[2022-06-16 08:11] rupeshknn commented on #27
Forgot to add the final presentation. Sorry.
[Final-Lanczos_Algorithm_for_Qiskit_Dynamics.pdf](https://github.com/qiskit-advocate/qamp-spring-22/files/8916922/Final-Lanczos_Algorithm_for_Qiskit_Dynamics.pdf)

[2022-06-16 18:22] mickahell commented on #7
[Project board](https://github.com/Travis-S-IBM/q-kernel-ops/projects/1)

[2022-06-17 11:08] HuangJunye commented on #9
@enavarro51 Can you please upload your final showcase presentation here?

[2022-06-17 11:15] HuangJunye commented on #8
@VedDharkar @epelaaez @AntonSimen06 Can you please upload your final showcase presentation here? Thank you.

[2022-06-17 11:16] HuangJunye commented on #6
@Morcu Can you please upload the final showcase presentation here? Thank you

[2022-06-17 11:18] HuangJunye commented on #29
If I understand it correct, this project didn't happen and @robertloredo became a co-mentor for @SiddharthaMorales for #38. Is that right?

[2022-06-17 16:42] robertloredo commented on #29
Hi @HuangJunye Yes that is correct. Thanks for checking back. Have a great weekend! 👍

[2022-06-18 13:56] enavarro51 commented on #9
Here is the final presentation.
[PlanarLayoutPres.pptx](https://github.com/qiskit-advocate/qamp-spring-22/files/8933696/PlanarLayoutPres.pptx)

[2022-06-20 09:14] #29 closed

[2022-06-23 15:14] HuangJunye commented on #7
@mickahell Thanks for sharing the project board. Can you upload the final showcase presentations as well?

[2022-06-23 15:15] mickahell commented on #7
@HuangJunye ;)

[2022-08-31 18:48] mickahell commented on #7
- Here the project to ref every task done to complete the entire project : [QAMP Project board](https://github.com/Travis-S-IBM/q-kernel-ops/projects/1)
- And here the [Post QAMP board](https://github.com/Travis-S-IBM/q-kernel-ops/projects/2)

[2022-09-08 10:53] rupeshknn commented on #27
A late update, but the PR has been merged. 🎉

https://github.com/Qiskit/qiskit-dynamics/pull/109